@media (max-width: 500px) {
  .drag-music {
    width: max-content; 
  }
}
.music-window{
  .window-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .close-icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: -1px;
        margin-top: -1px;
        transform: rotateZ(45deg);
        position: relative;
        &:before,
        &:after {
          content: '';
          position: absolute;
        }
        &:before {
          height: 100%;
          width: 3px;
          left: 50%;
          transform: translateX(-50%);
        }
        &:after {
          height: 3px;
          width: 100%;
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .window {
        display: flex;
      }
      .window-content {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        gap: 15px;

        .music-title-container {
          display: flex;
          gap: 5px;
        }
        .count-down {
          margin-left: auto;
          width: fit-content;
        }
        .buttons {
          width: 100%;
          button {
            height: 30px;
            width: 17.5%;
          }
          button:nth-child(3) {
            width: 30%;
          }
        }
      }
      .footer {
        display: block;
        margin: 0.25rem;
        height: 31px;
        line-height: 31px;
        padding-left: 0.25rem;
      }
      .music-title {
        overflow: hidden;
        max-width: 200px;
        white-space: nowrap;
        color: greenyellow;
        background-color: black;
      }
      
}