@media (max-width: 500px) {
  .drag-music {
    width: max-content; 
  }
}
.music-window{
  user-select: none;
  .window-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .window {
        display: flex;
      }
      .window-content {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        gap: 15px;

        .music-title-container {
          display: flex;
          gap: 5px;
        }
        .count-down {
          margin-left: auto;
          width: fit-content;
        }
        .buttons {
          width: 100%;
          button {
            height: 30px;
            width: 17.5%;
          }
          button:nth-child(3) {
            width: 30%;
          }
        }
      }
      .footer {
        display: block;
        margin: 0.25rem;
        height: 31px;
        line-height: 31px;
        padding-left: 0.25rem;
      }
      .music-title {
        overflow: hidden;
        padding-left: 5px;
        max-width: 160px;
        white-space: nowrap;
        color: greenyellow;
        background-color: black;
      }
      
}