.drag-welcome{
    width: 650px;
    .window-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .buttons {
            display: flex;
        }
    }
    .help-icon {
        font-weight: bold;
        font-size: larger;
    }
    .close-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: -1px;
    margin-top: -1px;
    transform: rotateZ(45deg);
    position: relative;
    &:before,
    &:after {
        content: '';
        position: absolute;
    }
    &:before {
        height: 100%;
        width: 3px;
        left: 50%;
        transform: translateX(-50%);
    }
    &:after {
        height: 3px;
        width: 100%;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
    }
    }
    .window {
        display: flex;
    }
    .window-content {
        padding: 20px;
        display: flex;
        gap: 1rem;
    }
    .login-info {
        display:flex;
        flex-direction: column;
        gap: 1.5rem;

        .user-info {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
    }
    .username, .password {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    label {
        width: 100px;
    }
    .login-buttons {
        width: min-content;

        button {
            width: 100px;
            height: 35px;
        }
    }
    .login-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
    
}

@media (max-width: 500px) {
    .drag-welcome{
        width: 95vw;
        .window-content {
            flex-direction: column;
        }
        .login-buttons {
           display: flex;
           flex-direction: row;
           width:max-content;
           margin-left: auto;
           margin-top: 1rem;
        }
    }   
}



