.drag-portfolio {
  grid-column: 9;
  grid-row: 7;
}

.portfolio-window{
    width: max-content;
    height: max-content;
    .window-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .close-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left: -1px;
      margin-top: -1px;
      transform: rotateZ(45deg);
      position: relative;
      &:before,
      &:after {
        content: '';
        position: absolute;
      }
      &:before {
        height: 100%;
        width: 3px;
        left: 50%;
        transform: translateX(-50%);
      }
      &:after {
        height: 3px;
        width: 100%;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
      }
      
    }

    .window {
      max-width: 600px;
      display: flex;
      min-height: 200px;
    }
    .window-content {
      display: flex;
      max-height: 360px;
      gap: 15px;
    }
    .footer {
      display: block;
      margin: 0.25rem;
      height: 31px;
      line-height: 31px;
      padding-left: 0.25rem;
    }
    .custom-tree-view {
      button {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      }
    }
    .project-article > :first-child {
      background-color: white;
    }
}

 