.buttons {
    display: flex;
  }
.download-button {
  width: fit-content !important;
  padding: 0 10px !important;
  margin-right: 5px;
}
.close-icon {
  font-size: 25px;
  font-weight: bold;
  height: 120%;
}

.minimise-icon {
    display: inline-block;
    border-bottom: 4px solid black;
    padding: 0 4px;
    margin-bottom: 9px;
}