@media (max-width: 500px) {
  .drag-warning {
  }
}
.warning-window, .bin-warning-window, .recycle-warning-window {
  .window-title {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .close-icon {
        display: inline-block;
        color: rgb(132, 133, 132) !important;
        width: 16px;
        height: 16px;
        margin-left: -1px;
        margin-top: -1px;
        transform: rotateZ(45deg);
        position: relative;
        &:before,
        &:after {
          content: '';
          position: absolute;
        }
        &:before {
          height: 100%;
          width: 3px;
          left: 50%;
          transform: translateX(-50%);
        }
        &:after {
          height: 3px;
          width: 100%;
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .window {
        display: flex;
      }
      .window-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .warning {
          display: flex;
          gap: 1rem;
          align-items: center;
        }
        button {
          width: 100px;
          height: 35px;
          align-self: center;
        }
      }
}


