.react-pdf__Document {
  margin: 0;
  width: 100% !important;
  height: 100% !important;
  padding:0 !important;
}

canvas.react-pdf__Page__canvas {
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  padding:0 !important;
 
}
.react-pdf__Page__textContent.textLayer {
  margin: 0;
  width: 100% !important;
  height: 100% !important;
  padding:0 !important;
}
.react-pdf__Page__annotations.annotationLayer {
  margin: 0;
  width: 100% !important;
  height: 100% !important;
  padding:0 !important;
}

  