.start-button {
	margin-right: 0.5rem;
}

@media (min-width: 600px) {
	.task-1 {
		width: 80vw !important;
	}
	.task-2 {
		width: 40vw !important;
	}
	.task-3 {
		width: 26.67vw !important;
	}
	.task-4 {
		width: 20vw !important;
	}
	.task-5 {
		width: 16vw !important;
	}
}
@media (max-width: 600px) {
	.task-1 {
		width: 33.75vw !important;
	}
	.task-2 {
		width: 33.75vw !important;
	}
	.task-3 {
		width: 22.5vw !important;
	}
	.task-4 {
		width: 16.875vw !important;
	}
	.task-5 {
		width: 13.5vw !important;
	}
}
.task {
	justify-content: flex-start !important;
	background-image: none !important;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;
	max-width: 175px;
}

.jrwZug:not(:first-child) {
	background-color: rgb(245, 245, 245);
}

.start-button {
	background-image: none !important;
	background-color: rgb(185, 185, 185) !important;
}
.start-button:active {
	outline:2px dotted #0a0a0a !important;
	outline-offset:-8px;
}
.jrwZug:first-child:after {
	outline:2px dotted #0a0a0a !important;
	outline-offset:-8px;
}