@media (max-width: 500px) {
    .drag-browser{
    .window-content {
        width: 97.5% !important;
    }
  }
}

@media (max-width: 600px) {
  .browser-window {
    min-width: 98vw;
    height: max-content;
  }
  .iframe-screen {
    height: max-content;
  }
}

.drag-browser {
    grid-column: 11;
    grid-row: 5;
}

.browser-window {
  text-align: -webkit-center;
  height: 450px;
  html {
    overflow: hidden;
  }
  .window-title {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .close-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: -1px;
    margin-top: -1px;
    transform: rotateZ(45deg);
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
    }
    &:before {
      height: 100%;
      width: 3px;
      left: 50%;
      transform: translateX(-50%);
    }
    &:after {
      height: 3px;
      width: 100%;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .window {
    display: flex;
  }
  .window-content {
    display: flex;
    width: 600px;
    height: 500px;
    padding: 5px;
  }
  .footer {
    display: block;
    margin: 0.25rem;
    height: 31px;
    line-height: 31px;
    padding-left: 0.25rem;
  }
  .browser-screen {
    position: absolute;
    background-color: red;
    width:  calc(100% - 20px);
    height: calc(100% -  50px);
  }
  .iframe-screen {
    height: 380px;
  }
  .iframe-text {
    margin-top: 2.5px;
    font-size: x-small;
    a {
      color: blue;
      text-decoration: underline;
    }
  }
}





