.desktop-icons {
    grid-area: 1 / 1 / 21 / 14;
    display: grid;
    grid-template-columns: 90px;
    grid-template-rows: 1fr 1fr;
    padding: 1.5rem;
    justify-items: center;
    width: 90px;
}
.icon-resume {
    grid-column: 1;
    grid-row: 1; 
}
.icon-portfolio {
    grid-column: 1;
    grid-row: 2; 
}
.desktop-icons .icon {
    display: flex;
    height: 90px;
    width: 90px;
    flex-direction: column;
    align-items: center;
    width: max-content;
    gap: 5px;
    cursor: pointer;
}

.desktop-icons  .icon p {
    font-weight: bold;
    color: #fefefe;;
    text-align: center;
    cursor: pointer;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (max-height: 600px) {
    .desktop-icons {
        gap: 1rem;
    }



}