.desktop-icons {
    grid-area: 1 / 1 / 21 / 14;
    display: grid;
    grid-template-columns: 90px;
    grid-template-rows: 1fr 1fr;
    padding: 1.5rem;
    justify-items: center;
    width: 90px;
    gap: 2rem;
}

.desktop-icons .icon {
    display: flex;
    width: 90px;
    flex-direction: column;
    align-items: center;
    width: max-content;
    cursor: pointer;
}

.desktop-icons  .icon p {
    font-weight: bold;
    color: #fefefe;;
    text-align: center;
    cursor: pointer;
    padding: 0 0.25rem;
    z-index: 1;
    user-select: none;
}
.elementRef {
    position: absolute;
    background-color: transparent;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}
.icon-placeholder {
    position: relative;
    display: flex;
    justify-content: center;
}
.text-placeholder {
    margin-top: 5px;
    position: relative;
    display: flex;
}
.filter {
    position: absolute;
    background-color: black;
    border: 1px solid white ;
    opacity: 0.25;
    height: 100%;
    width: 100%;
}
.icon-placeholder img {
    z-index: 1;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (max-height: 600px) {
    .desktop-icons {
        gap: 1rem;
    }



}