.desktop-icons {
    display: inherit;
    padding: 1.5rem;
    justify-items: center;
    width: 90px;
}

.desktop-icons .icon {
    display: flex;
    position: absolute;
    width: 90px;
    flex-direction: column;
    align-items: center;
    width: max-content;
    cursor: pointer;
}

.desktop-icons  .icon p {
    font-weight: bold;
    color: #fefefe;;
    text-align: center;
    cursor: pointer;
    padding: 0 0.25rem;
    z-index: 1;
    user-select: none;
}
.desktopRef {
    position: absolute;
    background-color: transparent;
    opacity: 0.5;
    /* height: 100%;
    width: 100%; */
}
.icon-placeholder {
    position: relative;
    display: flex;
    justify-content: center;
}
.text-placeholder {
    margin-top: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    width: max-content;
}
.filter, .filter-text {
    position: absolute;
    height: 100%;
    width: 100%;
}
.filter {
    background-color: black;
    border: 1px solid white;
    opacity: 0.25;
}
.filter-text {
    background-color: blue;
    opacity: 1;
}
.icon-placeholder img {
    z-index: 1;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (max-height: 600px) {
    .desktop-icons {
        gap: 1rem;
    }



}