
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.desktop {
  display: grid;
  grid-template-columns: repeat(48, 1fr);
  grid-template-rows: repeat(48, 1fr);
  background-color: #008080;
}
.underscore {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}
.react-draggable.react-draggable-dragged {
  z-index: 1;
  height: 0;
  width: 0;
}
button {
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.3);
}

button:after {
  outline: none !important;
}

.start-up-background, .shut-down-background {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-up, .shut-down {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.start-up-mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shut-down-mobile {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.shut-down-text {
  color: darkorange;
  font-size: large;
  font-weight: bold;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #008080;
  /* overflow: hidden; */
}
.react-draggable {
  height: 0;
  width: 0;
  grid-column: 6;
  grid-row: 1;
  position: relative !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
